<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd 
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

    <bean id="configProperties" class="com.ald.fanbei.api.common.util.ConfigProperties"
        init-method="init">
        <property name="configPath">
            <value>test/config.properties</value>
        </property>
    </bean>

	<context:component-scan base-package="com.ald.fanbei.api">
	   <context:exclude-filter type="regex" expression="com\.ald\.fanbei\.api\.abtest.*"/>
	   <context:exclude-filter type="regex" expression="com\.ald\.fanbei\.api\.web.*"/>
	</context:component-scan>
	
	<import resource="biz-beans.xml" />
    <import resource="../spring/dal-beans.xml" />
    <import resource="../spring/encrypt-beans.xml" />
    
</beans>