<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- [公共Appender] 控制台STDOUT -->
	<appender name="STDOUT_APPENDER" class="org.apache.log4j.ConsoleAppender">
		<param name="encoding" value="UTF-8" />
		<param name="target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t:%c{2}] - %m%n" />
		</layout>
	</appender>

	<!-- [应用Appender] 收到app客户端的请求，非app接口入口日志请勿放这里  -->
	<appender name="JSD_BI_APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${finance.log.path.root}/bi/mgr-bi.log" />
		<param name="append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d; %m%n" />
		</layout>
	</appender>

	<!-- [应用Appender] 调用第三方接口日志，如推送日志、发送短信日志 -->
	<appender name="JSD_THIRD_APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${finance.log.path.root}/bi/mgr-third.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d; %m%n" />
		</layout>
	</appender>
	
	<!-- [公共Appender] 默认 -->
	<appender name="DEFAULT_APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${finance.log.path.root}/mgr.log" />
		<param name="append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d %-5p [%t:%c{2}] - %m%n" />
		</layout>
	</appender>
	
	<!-- [公共Appender] dal -->
	<appender name="JSD_DAL_APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${finance.log.path.root}/mgr-dal.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d %-5p %c{2} - %m%n" />
		</layout>
	</appender>

	<!-- [公共Appender] 汇总错误 -->
	<appender name="ERROR_APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file"
			value="${finance.log.path.root}/mgr-error.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="threshold" value="error" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d %-5p %c{2} - %m%n" />
		</layout>
	</appender>

	<!-- [公共Logger] 控制台STDOUT - STDOUT --> 
	<logger name="STDOUT" additivity="true">
		<level value="${finance.log.level}" />
	</logger>

	<!-- [应用Logger] new BI日志 -->
	<logger name="JSD_BI" additivity="true">
		<level value="${finance.log.level}" />
		<appender-ref ref="JSD_BI_APPENDER" />
	</logger>

	<!-- [应用Logger] THIRD日志 -->
	<logger name="JSD_THIRD" additivity="true">
		<level value="${finance.log.level}" />
		<appender-ref ref="JSD_THIRD_APPENDER" />
	</logger>
	
	<!-- [默认logger] logger -->
	<logger name="com.cx.finance" additivity="true">
		<level value="${finance.log.level}" />
	</logger>
	
	<!-- [dal层 Logger] 数据访问层 - Ibatis -->
	<logger name="com.ibatis" additivity="true">
		<level value="${finance.log.level}" />
		<appender-ref ref="JSD_DAL_APPENDER" />
	</logger>
	<!-- [dal层 Logger] 数据访问层 - SQL -->
	<logger name="java.sql" additivity="true">
		<level value="${finance.log.level}" />
		<appender-ref ref="JSD_DAL_APPENDER" />
	</logger>
	
	<root>
		<level value="${finance.log.level}" />
		<appender-ref ref="DEFAULT_APPENDER" />
		<appender-ref ref="ERROR_APPENDER" />
		<appender-ref ref="STDOUT_APPENDER" />
	</root>
</log4j:configuration>